@import '../../node_modules/tailwindcss';
:root {
    --unit-sm: 12px;
    --unit-md: 20px;
    --unit-lg: 32px;

    --grid-columns: 12;
    --grid-margin: var(--unit-lg);
    --grid-gutter: 10px;

    @variant max-sm {
        --grid-margin: var(--unit-sm);
    }
}
@theme {
    --font-serif: 'CanelaDeck', serif;
    --font-sans: 'Manrope', sans-serif;

    --text-heading-xxl: utopia.clamp(42, 140);
    --text-heading-xl: utopia.clamp(42, 96);
    --text-heading-lg: utopia.clamp(36, 60);
    --text-heading-md: utopia.clamp(28, 48);
    --text-heading-sm: utopia.clamp(24, 36);
    --text-heading-xs: utopia.clamp(20, 26);
    --text-body-lg: utopia.clamp(18, 24);
    --text-body-md: utopia.clamp(16, 18);
    --text-body-sm: utopia.clamp(14, 14);

    /* Colors */
    --color-feedback-success: green;
    --color-feedback-warning: gold;
    --color-feedback-error: crimson;

    --spacing-unit-sm: var(--unit-sm);
    --spacing-unit-md: var(--unit-md);
    --spacing-unit-lg: var(--unit-lg);
    --spacing-gutter: 10px;
    --spacing-button: 45px;

    --spacing-fluid-2xs: utopia.clamp(6, 8);
    --spacing-fluid-xs: utopia.clamp(8, 10);
    --spacing-fluid-sm: utopia.clamp(16, 24);
    --spacing-fluid-md: utopia.clamp(24, 32);
    --spacing-fluid-lg: utopia.clamp(32, 40);
    --spacing-fluid-xl: utopia.clamp(40, 56);
    --spacing-fluid-2xl: utopia.clamp(56, 90);
    --spacing-fluid-3xl: utopia.clamp(90, 150);
    --spacing-fluid-4xl: utopia.clamp(150, 200);

    --radius-sm: 4px;

    --breakpoint-2xs: 340px;
    --breakpoint-xs: 500px;
    --breakpoint-sm: 700px;
    --breakpoint-md: 1000px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1400px;
    --breakpoint-2xl: 1600px;
    --breakpoint-3xl: 1800px;
    --breakpoint-4xl: 2000px;
    --breakpoint-5xl: 2400px;

    --transition-duration-fastest: 0.1s;
    --transition-duration-faster: 0.15s;
    --transition-duration-fast: 0.2s;
    --transition-duration: 0.4s;
    --transition-duration-slow: 0.6s;
    --transition-duration-slower: 0.8s;
    --transition-duration-slowest: 1s;

    --ease: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-bounce: cubic-bezier(0.17, 0.67, 0.3, 1.33);
    --ease-power-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-smooth: cubic-bezier(0.38, 0.005, 0.215, 1);

    --z-index-highest: 2147483647;
    --z-index-modal: 700;
    --z-index-menu: 200;
    --z-index-header: 50;
    --z-index-sticky: 20;
    --z-index: 0;
    --z-index-above: 1;
    --z-index-below: -1;

    --animate-spin: spin var(--transition-duration) linear infinite;
}

@base {
    /*
        The default border color has changed to `currentColor` in Tailwind CSS v4,
        so we've added these compatibility styles to make sure everything still
        looks the same as it did with Tailwind CSS v3.

        If we ever want to remove these styles, we need to add an explicit border
        color utility to any element that depends on these defaults.
    */
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}
