includes:
  - phpstan-baseline.neon
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: max
  paths:
    - config/
    - www/mu-plugins/
    - www/index.php
    - www/wp-config.php
  excludePaths:
    - www/mu-plugins/*/
  dynamicConstantNames:
    - WP_DEVELOPMENT_MODE
    - WP_ENVIRONMENT_TYPE
