.c-icon {
    display: inline-block;
    vertical-align: middle;
}

.c-icon svg {
    --icon-height: calc(var(--icon-width) * (1 / (var(--icon-ratio))));

    display: block;
    width: var(--icon-width, 20px);
    height: var(--icon-height, 20px);
    fill: currentColor;
}

/* LOGO */

:root {
    --icon-width-logo: 50px;
    --icon-ratio-logo: 32/20;
}

.svg-logo {
    --icon-width: var(--icon-width-logo);
    --icon-ratio: var(--icon-ratio-logo);
}

.svg-logo {
    --icon-width: var(--icon-width-logo);
    --icon-ratio: var(--icon-ratio-logo);
}


/* WordPress */

:root {
    --icon-width-craft: 30px;
    --icon-ratio-craft: 1/1;
}

.svg-wordpress {
    --icon-width: var(--icon-width-craft);
    --icon-ratio: var(--icon-ratio-craft);
}

/* External */

:root {
    --icon-width-external: 16px;
    --icon-ratio-external: 1/1;
}

.svg-external {
    --icon-width: var(--icon-width-external);
    --icon-ratio: var(--icon-ratio-external);
}
