@layer components {
    .c-image {
    }

    .c-image_inner {
        .c-image.-lazy-load & {
            background-color: grey;
            overflow: hidden;
        }
    }

    .c-image_img {
        width: 100%;

        .c-image.-cover & {
            object-fit: cover;
            aspect-ratio: var(--width) / var(--height);
        }

        &[loading='lazy'] {
            .c-image.-lazy-load & {
                opacity: 0;
                transform: scale(1.1, 1.1);
                transition:
                    transform theme-speed(slow) theme-ease(),
                    opacity theme-speed(slow) theme-ease();
            }

            /* Image is loaded */
            .c-image:not([data-scroll]).is-loaded & {
                opacity: 1;
                transform: scale(1, 1);
            }

            /* Image is loaded and respond to locomotive-scroll in-view class */
            .c-image[data-scroll].is-loaded.is-inview & {
                opacity: 1;
                transform: scale(1, 1);
            }
        }
    }
}
